.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 200px;
}

h1 {
  margin: 10px;
  text-decoration: underline;
}

.container-pic,
.btn {
  margin: 10px;
}

body {
  background: linear-gradient(156deg, #0756db, #bcc7d9);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 44% 0%;
  }
  50% {
    background-position: 57% 100%;
  }
  100% {
    background-position: 44% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 44% 0%;
  }
  50% {
    background-position: 57% 100%;
  }
  100% {
    background-position: 44% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 44% 0%;
  }
  50% {
    background-position: 57% 100%;
  }
  100% {
    background-position: 44% 0%;
  }
}
